In [ ]:
from datascience import * # default package we are using in this ipynb
import numpy as np # # importing numpy and abbreviating it as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Arrays

In [ ]:
heights = make_array(67, 60, 71, 63, 65)
heights

In [ ]:
type(heights) # data type
# n-dimensional array, this data type is from the numpy or np package

In [ ]:
heights_feet = heights / 12 # convert to feet for ease
heights_feet
# notice the data type for each element is now a float

In [ ]:
heights_feet

In [ ]:
heights_inches = heights
heights_inches

In [ ]:
len(heights) # number of element in the array
# 5 people's heights in my heights array
# calculates "length" of array

In [ ]:
sum(heights) # sum of 5 people's heights in inches

In [ ]:
sum(heights) / len(heights) # average height in inches

In [ ]:
np.average(heights)
# the average height in inches is 65.2 inches
# or 5'5"

In [ ]:
strings_array = make_array('ok', 'ya', 'hm')
strings_array

In [ ]:
'ha'*2 # concatenation

In [ ]:
strings_array * 2
# data type matters when performing operations (like multiplication or division) to an array

In [ ]:
strings_array + strings_array

In [ ]:
heights

In [ ]:
heights.item(4) # last element in my array
# element in position 4
# fifth element

In [ ]:
heights.item(0)
# first element, in position 0

In [ ]:
strings_array

In [ ]:
strings_array.item(0)

In [ ]:
strings_array.item(3)
# there is not item in position 3
# there is only position 0: 'ok'
# 1: 'ya'
# 2: 'hm'

## Ranges ##

In [ ]:
make_array(0, 1, 2, 3, 4, 5, 6)

In [ ]:
np.arange(6) # gives me an array from 0 up until 6, not including 6

In [ ]:
np.arange(7) # 7 elements, from 0 to 6

In [ ]:
np.arange(5, 11)

In [ ]:
np.arange(0, 20, 2)

In [ ]:
np.arange(0, 21, 2)

In [ ]:
np.arange(0, 1, 0.1)

In [ ]:
# give me an array from 0 to 100, including 100, step increase of 10?
print(np.arange(0,101,10))


# give me an array from 100 to 200, not including 200, step increase of 10
print(np.arange(100,200,10))


# give me an array from 100 to 200, including 200, with a step increase of 50
print(np.arange(100,201,50))


# bonus: give me an array from 200 to 100, with a step of -10
#including 100
np.arange(200,99,-10)

# not including 100
np.arange(200,100,-10)

In [ ]:
a = np.arange(8)
a

In [ ]:
a

In [ ]:
a.item(0) # 1st element

In [ ]:
# reference last element
a.item(7)

In [ ]:
a.item(8)

In [ ]:
# can we create an array that decreases
# 10 to 0

np.arange(10,-1, -0.5)

## Creating a Table from Scratch ##

In [ ]:
# let's take a break, we'll come back 11:42

In [ ]:
streets = make_array('dp', 'sabado','trigo','pasado','sueno')
streets

In [ ]:
Table()

In [ ]:
iv = Table().with_column('Streets', streets)
iv

In [ ]:
iv = iv.with_column('Blocks from beach', np.arange(5))

In [ ]:
iv

In [ ]:
#southside = southside.with_column('Blocks from campus', np.arange(4))
#southside

In [ ]:
iv.labels # column headings

In [ ]:
iv.num_columns # how many variables you're dealing with

In [ ]:
iv.num_rows # number of participants, or individuals

## Reading a Table from a File  ##

In [ ]:
du_bois = Table.read_table('data/du_bois.csv')
du_bois

In [ ]:
# Which group ("CLASS") spent the highest percentage on rent?
du_bois.sort('RENT', descending = True).take(0) 
# sorted by RENT column, greatest to smallest
# we take the row in position 0, which is the first row

In [ ]:
du_bois.select('STATUS')
# displays in table format
# how many unique statuses are there represented in my du_bois table?

In [ ]:
du_bois.column('STATUS')
# returns an array
# i want to eventually add this column to another table
# we like arrays because in this format or data type
# we can do some more manipulation
# adding to tables, mathematical operations, appending


# future: we can use .group (which is a table method)
# which allows us to group by categories

In [ ]:
du_bois.select('STATUS')

In [ ]:
du_bois.column('STATUS')

In [ ]:
du_bois.column('ACTUAL AVERAGE')

In [ ]:
du_bois.select('FOOD')

In [ ]:
du_bois.column('ACTUAL AVERAGE') * du_bois.column('FOOD')

In [ ]:
food_dollars = du_bois.column('ACTUAL AVERAGE') * du_bois.column('FOOD')
du_bois = du_bois.with_column(
    'Food $',
    food_dollars
)
du_bois

In [ ]:
du_bois.set_format('FOOD', PercentFormatter)
# multiplying each proportion by 100, adding % sign

In [ ]:
du_bois.select('CLASS', 'ACTUAL AVERAGE','Food $')

In [ ]:
du_bois

In [ ]:
# Which group ("CLASS") spent the lowest on Higher Life or Other?
du_bois.sort('OTHER').take(0).select("CLASS")


#min(du_bois.column('OTHER'))

In [ ]:
# Which group ("CLASS") spent the highest on Rent?

## Selecting data in a column ##

In [ ]:
movies = Table.read_table('data/movies_by_year_with_ticket_price.csv')
movies.show()

In [ ]:
gross_in_dollars = movies.column('Total Gross') * 1e6
tix_sold = gross_in_dollars / movies.column('Average Ticket Price')

In [ ]:
#$11,237,900,000 total gross in 2019

In [ ]:
gross_in_dollars

In [ ]:
tix_sold
# 2019
# 1,226,844,980 over a billion tickets sold

In [ ]:
movies = movies.with_column('Tickets sold', tix_sold)
movies = movies.with_column('Total Gross in millions', gross_in_dollars)

In [ ]:
movies.show(4)

In [ ]:
movies.set_format('Tickets sold', NumberFormatter)
movies.set_format('Total Gross in millions', NumberFormatter)

In [ ]:
movies.plot('Year', 'Tickets sold')

In [ ]:
movies.where('Year', are.between(2000, 2005))

In [ ]:
movies.where('Year', 2002)

In [ ]:
movies.where('Year', are.equal_to(2002))

In [ ]:
movies.where('#1 Movie', are.containing('Harry Potter'))

In [ ]:
help(are.containing)

In [ ]:
movies.where('#1 Movie', 'Harry Potter')

In [ ]:
movies.take(np.arange(2, 5))