In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Lists

In [ ]:
simple_list = ['hello', 7, 3.14, True]
simple_list

In [ ]:
my_array = make_array(1, 2, 3)

crowded_list = [my_array, 'what is going on', -10]

# with arrays, we can access elements with .item(..), e.g., my_array(0)

# with lists, when we want to access elements we need to use [..], e.g., crowded_list[0]

len(crowded_list[0])

In [ ]:
type(my_array)

In [ ]:
Table().with_columns('Numbers', [1, 2, 3])
# Table() initializes a new table
# .with_columns adds a new column with a given name, and populates that column with whatever is in the second
# argument
# here it is a list [1,2,3]

# just like arrays, we can populate table columns with lists

In [ ]:
drinks = Table(['Drink', 'Cafe', 'Price']) # created a new table, with 3 column headings
# we'll populate table with row entries in the next cell
drinks

In [ ]:
drinks

In [ ]:
drinks = drinks.with_rows([
    ['Milk Tea', 'Asha', 5.5],
    ['Espresso', 'Strada',  1.75],
    ['Latte',    'Strada',  3.25],
    ['Espresso', "FSM",   2]
])

# add individual rows to a table, with lists too
drinks

# behind the scenes, python is converting these lists into arrays and then adding them to the table
# so you can add individual rows, with arrays as well

## Challenge Question ##

In [ ]:
sky = Table.read_table('data/skyscrapers_v2.csv')
sky = (sky.with_column('age', 2022 - sky.column('completed'))
          .drop('completed'))
sky.show(3)

In [ ]:
# 1. For each city, what’s the tallest building for each material?
#hint: maybe .group would be useful here.....

# as a start, you could also try to figure out the tallest building for each material for one city
# what are the types of material for skyscrapers in NYC?
sky.where('city', 'New York City').group('material', max).drop('name max', 'age max')

#425.5 m is describing the tallest concrete NYC skyscraper
# 95 is describing the oldest concrete NYC skyscraper
# Yorkville Towers is describing the "largest" string, in regards to character ordering for skyscraper name
# that is made of concrete



sky.group(['city', 'material'], max)

In [ ]:
'a' <'b'

In [ ]:
'a' < 'y'

In [ ]:
'Adam skyscraper' < 'Yorkville Towers'

In [ ]:
sky.where('name', 'Yorkville Towers')
# why does the age and height not match for Yorkville Towers in the table above and below??

In [ ]:
# 2. For each city, what’s the height difference between the tallest 
#    steel building and the tallest concrete building?

Don't read ahead until you try the challenge questions yourself first!

In [ ]:
sky.select('material', 'city', 'height').group(['city', 'material'], max)

In [ ]:
sky_p = sky.pivot('material', 'city', 'height', max)
sky_p.show()

In [ ]:
sky_p = sky_p.with_column(
    'difference', 
    abs(sky_p.column('steel') - sky_p.column('concrete'))
)
sky_p

In [ ]:
sky_p.sort('difference', True)

### Take-home question: try it here!

In [ ]:
# Generate a table of the names of the oldest buildings for each 
# material for each city:

# can we use join ?....

## Joins ##

In [ ]:
drinks

In [ ]:
discounts = Table().with_columns(
    'Coupon % off', make_array(10, 25, 5),
    'Location', make_array('Asha', 'Strada', 'Asha')
)
discounts

In [ ]:
combined = drinks.join('Cafe', discounts, 'Location')
combined

In [ ]:
discounted_frac = 1 - combined.column('Coupon % off') / 100
combined.with_column(
    'Discounted Price', 
    combined.column('Price') * discounted_frac
)

In [ ]:
drinks.join('Cafe', drinks, 'Cafe')